.containerHome {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 1;
}

.itens {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content:  center;
}

.itensText {
  width: 50%;
}

.name {
  font-size: 4rem;
}

.colorDev {
  color: #4d5bce;
}

.divGit_Link {
  margin-top: 8rem;
}

.description {
  padding-top: 40px;
  padding-bottom: 40px;
  line-height: 1.5;
}

.colorConst {
  color: #4d5bce;
}

.colorName {
  color: #fad58b;
}

.divGit_Link p {
  font-size: 1.1rem;
}

img {
  width: 100%;
  max-width: 400px;
  height: 500px;
  border-radius: 50%;
}

a {
  color: #fea55f;
}


@media screen and (max-width: 1200px) {
  .itens {
    gap: 2rem;
  }

  .itensText {
    width: 60%;
  }

  img {
    width: 300px;
    height: 350px;
  }
}

@media screen and (max-width: 980px) {
.name {
    font-size: 3.1rem;
  }

  img {
    width: 300px;
    height: 350px;
  }

  .divGit_Link p {
    font-size: 0.72rem;
    
  }
}

@media screen and (max-width: 768px) {
  .name {
    font-size: 3.5rem;
  }

  .itensText {
    width: 100%;
  }

  .imgCamilla {
    display: none;
  }

  .divGit_Link p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 610px) {
  .name {
    font-size: 2.5rem;
  }

  .itensText {
    width: 100%;
  }

  .divGit_Link p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  .divGit_Link p {
    font-size: 0.66rem;
  }
}

@media screen and (max-width: 440px) {
  .name {
    font-size: 2.5rem;
  }

  .colorDev{
    font-size: 1rem;
  }

  .divGit_Link p {
    font-size: 0.65rem;
  }

}

@media screen and (max-width: 380px) {
  .name {
    font-size: 2rem;
  }

  .divGit_Link p {
    font-size: 0.60rem;
  }
  

}
@media screen and (max-width: 320px) {
  .name {
    font-size: 2rem;
  }

  .divGit_Link p {
    font-size: 0.53rem;
  }

  .colorDev{
    font-size: 0.9rem;
  }
}