.header {
  margin-top: 2rem;
  margin-bottom: 1rem;
  gap: 2rem;
  position: fixed;
}

.header a {
  color: #fff;

  &:hover {
    color: #cdcdcd;
    cursor: pointer;
  }
}

.nav {
  margin-right: 15px;
}